@media (max-width: 480px) {
  .unique-dropdown {
    .selected-balance.unique-text[class*='appearance-inline'] {
      display: none;
    }
  }
}
@media (max-width: 568px) {
  .unique-dropdown {
    > .dropdown-wrapper {
      .unique-accounts-manager {
        padding-top: 0;
        padding-bottom: 0;
        height: 46px;

        svg {
          display: block;
          fill: var(--color-primary-500);
        }

        .accounts-manager-selected-account {
          border-right: none;
          padding: 0;
          flex-direction: row;
          gap: 10px;
          align-items: center;
        }

        .accounts-manager-selected-account-name,
        .accounts-manager-network {
          display: none;
        }
      }
    }
  }
}

.unique-dropdown {
  &.touch {
    > .dropdown-options {
      left: 0;
      padding: 0 0 20px 0;
      border-radius: 0;
      height: calc(100vh - 96px);

      .accounts-manager-dropdown {
        padding: 0;
        .unique-dropdown.touch > .dropdown-options {
          height: auto;
          padding: 0;
        }
      }
    }
  }
}

.unique-accounts-manager {
  border: 1px solid var(--color-blue-grey-200);
  box-sizing: border-box;
  border-radius: calc(var(--prop-gap) / 2);
  display: flex;
  position: relative;
  padding: calc(var(--prop-gap) * 1.5 / 4) calc(var(--prop-gap) * 2)
    calc(var(--prop-gap) * 1.5 / 4) var(--prop-gap);

  &:hover {
    border: 1px solid var(--color-blue-grey-400);
  }

  svg:not(.active-network-icon) {
    display: none;
  }

  .accounts-manager-selected-account {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-blue-grey-200);
    padding-right: var(--prop-gap);
    cursor: pointer;
    justify-content: center;
    .unique-text {
      white-space: nowrap;
    }
    .accounts-manager-selected-account-name {
      display: flex;
      column-gap: calc(var(--prop-gap) / 4);
      .account-copy {
        cursor: pointer;
      }
    }
  }
  .accounts-manager-network {
    display: flex;
    align-items: center;
    padding-left: var(--prop-gap);
  }
  .account-copy {
    cursor: pointer;
  }
  .icon.icon-copy:hover {
    fill: var(--color-primary-500);
  }
}
