.btn-container {
  display: flex;
  align-items: center;

  .create-account-btn {
    margin-right: var(--prop-gap);
  }
  .account-group-btn-medium-font {
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .btn-container {
    display: block;

    .create-account-btn {
      margin-right: 0;
      margin-bottom: 15px;
    }

    & > *,
    button {
      width: 100%;
    }
  }
}
