.btn-container {
  display: flex;
  align-items: center;

  .create-account-btn {
    margin-right: var(--prop-gap);
  }
  .account-group-btn-medium-font {
    font-weight: 500;
  }
}

@media (max-width: 567px) {
  .btn-container {
    display: block;
    width: 100%;

    .create-account-btn {
      margin-right: 0;
      margin-bottom: 16px;
    }

    & > *,
    button {
      width: 100%;
    }
  }
}
