:root {
  --color-additional-light: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.08);
  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --font-medium: 500;
  --font-bold: 700;
}
