:root {
  --card-shadow: rgba(0, 0, 0, 0.08); // missing in uikit

  --container-width: 1800px; // ???

  --prop-font-weight-medium: 500; // missing in uikit
  --prop-font-weight-bold: 700; // missing in uikit

  --prop-gap: 16px; // temp var
}
