.unique-alert {
  padding: 10px 15px;
  border-radius: 4px;
  &.type {
    &-warning {
      background: var(--color-additional-warning-100);
      color: var(--color-additional-warning-500);
    }
  }
}
