$duration: 0.3s;
$zIndex: 1050;
$closeSize: 24px;

.unique-modal {
  box-sizing: border-box;
  overflow: auto;
  z-index: $zIndex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--prop-gap);
  inset: 0;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;

  @media screen and (min-width: 568px) {
    padding: calc(var(--prop-gap) * 1.5);
  }

  &::before {
    display: inline-block;
    height: 100%;
    width: 0;
    content: '';
  }

  &-top {
    &::before {
      vertical-align: top;
    }
  }

  &-bottom {
    &::before {
      vertical-align: bottom;
    }
  }

  &-middle {
    &::before {
      vertical-align: middle;
    }
  }
}

.unique-modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: calc(var(--prop-gap) * 1.5);

  & > .unique-font-heading {
    margin: 0;
  }
}

.unique-modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: $zIndex;
  background: rgba(0, 0, 0, 0.7);
  inset: 0;
}

.unique-modal-close {
  &.unique-button.with-icon.to-left {
    border: 0;
    width: $closeSize;
    height: $closeSize;
    margin: calc((42px - #{$closeSize}) / 2) 0 0 auto;
    padding: 0;
    color: var(--color-secondary-400);
    line-height: normal;

    &:hover {
      background-color: transparent;
    }

    & > .icon {
      margin: 0;
    }
  }
}

.unique-modal-content-wrapper {
  z-index: $zIndex + 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 280px;
  width: 100%;
  text-align: initial;
  white-space: normal;
  letter-spacing: normal;
  transition: transform $duration;

  .unique-modal--xs & {
    width: auto;
  }

  .unique-modal--md & {
    max-width: 640px;
  }
}

.unique-modal-content-wrapper-hidden {
  display: none;
}

.unique-modal-content {
  box-sizing: border-box;
  position: relative;
  z-index: $zIndex;
  border-radius: calc(var(--prop-border-radius) * 2);
  padding: var(--prop-gap);
  background: var(--color-additional-light);
  text-align: left;
  white-space: normal;

  @media screen and (min-width: 568px) {
    padding: calc(var(--prop-gap) * 1.5);
  }

  &--inline {
    padding: 0 !important;
  }
}

.unique-modal-footer {
  padding-top: calc(var(--prop-gap) * 2);
}

.mask-motion {
  &-enter,
  &-appear,
  &-leave {
    &-active {
      transition: all $duration;
    }
  }

  &-enter,
  &-appear {
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}
