@import '../../styles/index.scss';

.unique-breadcrumbs-wrapper {
    font-family: var(--prop-font-family);
    font-size: var(--prop-font-size);
    font-weight: var(--prop-font-weight);

    .breadcrumb-item {
        margin: 0 10px;
        color: var(--color-grey-500);
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            color: var(--color-blue-grey-300);
            margin: 0 0 0 10px;
            cursor: initial;
        }
    }
}