.accounts-manager-dropdown {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--prop-gap) * 1.5);
  padding: calc(var(--prop-gap) * 1.5);
  min-width: 236px;
  .unique-dropdown {
    width: 100%;
  }
  .accounts-manager-wallet {
    .wallet-link-balance {
      margin-bottom: var(--prop-gap);
    }
    .unique-link {
      color: var(--color-primary-500);
      font-size: 16px;
    }
  }
  .wallet-accounts-stake {
    display: flex;
    flex-direction: column;
    gap: calc(var(--prop-gap) / 2);
  }

  .accounts-manager-accounts {
    .unique-dropdown.touch > .dropdown-wrapper {
      width: 100%;
    }
    .unique-dropdown.touch > .dropdown-options {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    row-gap: calc(var(--prop-gap) / 2);
    width: 100%;
    .accounts-select {
      border-radius: var(--prop-border-radius);
      border: 1px solid var(--color-grey-300);
      padding: 5px calc(var(--prop-gap) / 2);
      cursor: pointer;
    }
    .dropdown-options {
      max-height: 288px;
      overflow-y: auto;
    }
    .icon.icon-copy:hover {
      fill: var(--color-primary-500);
    }
  }
  .accounts-manager-wallet {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--prop-gap) / 2);
    width: 100%;
    .wallet-content {
      display: flex;
      flex-direction: column;
      row-gap: calc(var(--prop-gap) / 4);
      width: 100%;
      .wallet-link {
        display: flex;
        column-gap: calc(var(--prop-gap) / 4);
        align-items: center;
      }
    }
  }
  .accounts-manager-networks {
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--prop-gap) * 1.5);
    border-top: 1px dashed var(--color-blue-grey-300);
    row-gap: calc(var(--prop-gap) / 2);
    width: 100%;
    .network {
      display: flex;
      align-items: center;
      column-gap: calc(var(--prop-gap) / 2);
      width: 100%;
      & > .unique-text {
        flex-grow: 1;
      }
    }
    .networks-list {
      display: flex;
      flex-direction: column;
      row-gap: calc(var(--prop-gap) / 2);
      width: 100%;
      .unique-toggle-wrapper .inner:after {
        width: 10px;
        height: 10px;
        top: 4px;
        left: 4px;
      }
      .unique-toggle-wrapper .inner.on:after {
        right: 4px;
        left: unset;
      }
    }
  }
}
